openapi: 3.0.3
info:
  title: Escrow Payment API
  version: 1.0.0
  description: >
    The **Escrow Payment API** enables secure buyer–seller transactions using blockchain-based smart contracts.  
    It manages escrow creation, fund deposits, release conditions, disputes, and settlements — ensuring transparent and trustless exchanges between users on the platform.

  contact:
    name: API Support
    email: support@marketplace.io
    url: https://docs.marketplace.io

tags:
  - name: Escrow
    description: Operations related to escrow creation, release, and dispute resolution
  - name: Blockchain
    description: On-chain verification and smart contract metadata
  - name: Transactions
    description: Payment and fund management within escrow

servers:
  - url: https://api.marketplace.io/v1
    description: Production server
  - url: https://sandbox.marketplace.io/v1
    description: Sandbox environment

paths:
  /escrows:
    get:
      tags: [Escrow]
      summary: List escrow contracts
      description: Retrieve all escrow payment contracts with optional status or user filters.
      parameters:
        - name: buyer_id
          in: query
          schema: { type: string }
          description: Filter escrows by buyer ID
        - name: seller_id
          in: query
          schema: { type: string }
          description: Filter escrows by seller ID
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, FUNDED, RELEASED, DISPUTED, CLOSED]
          description: Filter escrows by current status
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: List of escrow contracts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEscrowResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

    post:
      tags: [Escrow]
      summary: Create a new escrow contract
      description: Initialize an escrow contract between buyer and seller.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEscrowRequest'
      responses:
        '201':
          description: Escrow successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Escrow'
        '400': { $ref: '#/components/responses/BadRequest' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /escrows/{escrow_id}:
    get:
      tags: [Escrow]
      summary: Retrieve escrow details
      parameters:
        - $ref: '#/components/parameters/escrow_id'
      responses:
        '200':
          description: Escrow contract details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Escrow'
        '404': { $ref: '#/components/responses/NotFound' }

  /escrows/{escrow_id}/fund:
    post:
      tags: [Transactions]
      summary: Deposit funds into escrow
      description: Allows the buyer to deposit agreed funds into the smart contract.
      parameters:
        - $ref: '#/components/parameters/escrow_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundEscrowRequest'
      responses:
        '200':
          description: Funds deposited successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Escrow'
        '402': { $ref: '#/components/responses/PaymentRequired' }

  /escrows/{escrow_id}/release:
    post:
      tags: [Transactions]
      summary: Release funds to seller
      description: Trigger smart contract release once buyer confirms delivery.
      parameters:
        - $ref: '#/components/parameters/escrow_id'
      responses:
        '200':
          description: Funds released to seller successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Escrow'
        '409': { $ref: '#/components/responses/Conflict' }

  /escrows/{escrow_id}/dispute:
    post:
      tags: [Escrow]
      summary: Raise a dispute
      description: Buyer or seller can open a dispute to pause fund release.
      parameters:
        - $ref: '#/components/parameters/escrow_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeRequest'
      responses:
        '200':
          description: Dispute raised successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Escrow'
        '409': { $ref: '#/components/responses/Conflict' }

components:
  parameters:
    escrow_id:
      name: escrow_id
      in: path
      required: true
      description: Unique identifier of the escrow contract
      schema: { type: string }

    page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
      description: Page number for pagination
    limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      description: Number of items per page

  schemas:
    Escrow:
      type: object
      properties:
        escrow_id: { type: string, example: "escrow_abc123" }
        buyer_id: { type: string, example: "user_buyer_01" }
        seller_id: { type: string, example: "user_seller_01" }
        item_id: { type: string, example: "item_12345" }
        amount: { type: number, format: float, example: 249.99 }
        currency: { type: string, example: "USD" }
        status:
          type: string
          enum: [PENDING, FUNDED, RELEASED, DISPUTED, CLOSED]
        blockchain_txn_hash:
          type: string
          example: "0x83f29e1c19f39a7a..."
        ipfs_metadata_hash:
          type: string
          example: "QmXyz123abc456"
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    PaginatedEscrowResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Escrow' }
        pagination:
          $ref: '#/components/schemas/Pagination'

    Pagination:
      type: object
      properties:
        page: { type: integer, example: 1 }
        limit: { type: integer, example: 20 }
        total_items: { type: integer, example: 87 }
        total_pages: { type: integer, example: 5 }

    CreateEscrowRequest:
      type: object
      required: [buyer_id, seller_id, item_id, amount, currency]
      properties:
        buyer_id: { type: string }
        seller_id: { type: string }
        item_id: { type: string }
        amount: { type: number, format: float }
        currency: { type: string, example: "USD" }

    FundEscrowRequest:
      type: object
      required: [payment_method, transaction_reference]
      properties:
        payment_method: { type: string, enum: [CARD, UPI, CRYPTO, WALLET] }
        transaction_reference: { type: string, example: "txn_789xyz" }

    DisputeRequest:
      type: object
      required: [reason, raised_by]
      properties:
        reason: { type: string, example: "Item not received as described" }
        raised_by: { type: string, example: "buyer" }

  responses:
    BadRequest:
      description: Invalid request payload or query parameters
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

    Conflict:
      description: Action not allowed due to current escrow state
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

    UnprocessableEntity:
      description: Validation failed for request payload
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

    PaymentRequired:
      description: Payment authorization failed or insufficient funds
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

    InternalServerError:
      description: Unexpected error occurred
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

  schemas:
    ErrorResponse:
      type: object
      properties:
        error_code: { type: string, example: "ESCROW_VALIDATION_FAILED" }
        message: { type: string, example: "Invalid escrow creation payload" }
        details:
          type: object
          additionalProperties: true
